<!-- USERS NAME

-users pic -date


                               these will appear chronoglocially mmmkay





-users pic -date








-users pic -date

ABOOT THE USER (if i get here)


POST A COMMENT TO THEM (if i get here)

EDIT INFO/POSTS(if you der user) -->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/showu.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <title></title>
  </head>
  <body class="body">
    <header>
      <h1><%=user.username%></h1>
      <nav>
        <ul>
          <li>
            <a class="btn btn-primary" href="/">Home</a>
          </li>
          <li>
            <a class="btn btn-primary" href="/users">Back to User Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <% for(var i = 0; i < user.posts.length; i++) { %>
          <h2><%=user.posts[i].title%></h2>
          <img src="<%=user.posts[i].img%>"/>
        <% } %>
      </section>
      <% if(currentUser.username === user.username) { %>
      <section>
        <a class="btn btn-primary" href="/users/<%=user._id%>/edit">Edit My Info</a>
      </section>
      <section>
        <form action="/users/<%=user._id%>?_method=DELETE" method="post">
  					<input type="submit" value="Delete My Info"/>
        </form>
      </section>
      <% } %>
    </main>

  </body>
</html>
