<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>User's Submissions</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Blog Home</a>
          </li>
          <li>
            <a href="/posts/new">Submit a Photo</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
        <% for (var i = 0; i < posts.length; i++) { %>
          <h2><%=posts[i].title%></h2>
            <a href="/posts/<%=posts[i]._id%>"><img src="<%=posts[i].img%>"></a>
            <% for (var j = 0; j < users.length; j++) { %>
              <% if(posts[i].userId == users[j]._id) { %>
              <p>Posted By: <%=users[j].username%></p>
            <% } %>
            <% } %>
            <p>on <%=posts[i].date%></p>
        <% } %>
      </ul>
    </main>
  </body>
</html>
