<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/indexp.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <title></title>
  </head>
  <body class ="body">
    <header>
      <h1>User's Submissions</h1>
      <nav>
        <ul>
          <li>
            <a class="btn btn-primary" href="/">Home</a>
          </li>
          <li>
            <a class="btn btn-primary" href="/posts/new">Submit a Photo</a>
          </li>
        </ul>
      </nav>
    </header>
    <hr>
    <main>
        <% for (var i = 0; i < posts.length; i++) { %>
          <div class="col-md-6">
          <h2><%=posts[i].title%></h2>
            <a href="/posts/<%=posts[i]._id%>"><img src="<%=posts[i].img%>"></a>
            <% for (var j = 0; j < users.length; j++) { %>
              <% if(posts[i].userId == users[j]._id) { %>
              <p>Posted By: <%=users[j].username%></p>
            <% } %>
            <% } %>
            <p>On :<%=moment(posts.date).format("MMM Do YY");%></p><br/>
          </div>
        <% } %>
    </main>
  </body>
</html>
