<!-- IMAGE TITLE
users name(this users show page on click)

IMAGE HURRRRRR BRUH





















users text/description about image

date submitted                             (like if i get to it)

EDIT(for the user only) -->




<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/showp.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <title></title>
  </head>
  <body class="body">
    <header>
      <h1><%=post.title%></h1>
      <nav>
        <ul>
          <li>
            <a class="btn btn-primary" href="/">Blog Home</a>
          </li>
          <li>
            <a class="btn btn-primary" href="/posts">Back to Image Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <hr>
    <main>
      <h2>Posted By: <%=user.username%></h2>
      <h5>On <%=moment(post.date).format("MMM Do YY");%></h5><br/>
      <img class="border" src="<%=post.img%>"/>
      <br/>
      <p class="bs"><%=post.description%></p>
      <br/>
      <% if(currentUser.username === user.username) { %>
      <section class="grr">
        <a class="btn btn-primary" href="/posts/<%=post._id%>/edit">Edit My Info</a>
      </section>
      <section class="grr">
        <form action="/posts/<%=post._id%>?_method=DELETE" method="post">
  					<input class="btn btn-primary" type="submit" value="Delete My Info"/>
        </form>
      </section>
      <% } %>
    </main>
  </body>
</html>
